:root {
  --main-bg-color: rgb(30 30 30);
  --text-color: rgb(236, 236, 236);
  --hover-color: rgb(65, 65, 65);
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  max-height: 100vh;
}

.toggle-left-menu-button.left-menu-toggle-button-transition {
  left: 0rem;
}

.toggle-left-menu-button {
  position: absolute;
  top: 50%;
  left: 20rem;
  z-index: 5;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: left 0.1s ease;
  width: 1.5rem;
  height: 2rem;
}

.toggle-btn-line01 {
  background-color: var(--hover-color);
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.4rem;
  height: 1rem;
  z-index: 11;
  border-radius: 1rem 1rem 0rem 0rem;
}

.toggle-btn-line02 {
  background-color: var(--hover-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.4rem;
  height: 1rem;
  z-index: 11;
  border-radius: 0rem 0rem 1rem 1rem;
}

.left-menu-container.left-menu-closed {
  width: 0rem;
  overflow: hidden;
  opacity: 0;
}

.left-menu-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100vh;
  transition: width 0.2s ease, opacity 0.1s ease;
}

.left-menu-options {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

.chat-a {
  padding: 0.3rem 0 0.3rem 1rem;
  color: var(--text-color);
}

.new-chat-btn {
  background-color: var(--main-bg-color);
  border: none;
  border: 1px solid var(--text-color);
  display: flex;
  margin: 0.5rem;
  border-radius: 0.8rem;
  color: var(--text-color);
  cursor: pointer;
}

.chat-btn-container {
  padding: 0.5rem;
  display: flex;
}

.chat-btn {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 0.8rem 0 0 0.8rem;
  width: 90%;
  border: none;
  border-left: solid 1px var(--text-color);
  border-top: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
  cursor: pointer;
}

.nested-chat-btn {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  position: relative;
  border-radius: 0 0.8rem 0.8rem 0;
  width: 10%;
  border: none;
  border-right: solid 1px var(--text-color);
  border-top: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
  cursor: pointer;
}

.nested-btn-menu {
  background-color: var(--main-bg-color);
  position: absolute;
  border-radius: 0.8rem;
  display: none;
  z-index: 10;
  border: 1px solid var(--text-color);
}

.nested-btn-menu a {
  display: block;
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
}

.nested-btn-menu-display {
  display: block;
}

.profile-button {
  background-color: var(--main-bg-color);
  border: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.profile-img {
  padding: 0.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.profile-name {
  margin: auto auto auto 0.5rem;
}

.right-side-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--main-bg-color);
  height: 3rem;
}

.conversation-container {
  height: 84vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.conver-user-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto 0.5rem auto;
  width: 50%;
}

.conversation-profile-img {
  padding: 0.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.conver-user {
  display: flex;
  border-radius: 0.8rem;
}

.conver-username {
  margin: auto auto auto 0rem;
  color: var(--text-color);
}

.conver-text {
  color: var(--text-color);
  margin-left: 2.5rem;
}

.textarea-container {
  background-color: var(--main-bg-color);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-cont {
  display: flex;
  position: relative;
  height: 3rem;
  width: 40%;
}

.textarea-cont textarea {
  background-color: var(--main-bg-color);
  border: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1rem;
  height: 1.1rem;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 0.8rem;
  width: 100%;
  line-height: 1;
  resize: none;
}

.conver-submit-btn {
  background-color: var(--main-bg-color);
  border: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  position: absolute;
  right: 0.2rem;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
}

.chat-btn:hover,
.nested-chat-btn:hover,
.new-chat-btn:hover,
.textarea-cont textarea:hover,
.conver-submit-btn:hover,
.nested-btn-menu:hover,
.profile-button:hover {
  border-color: var(--hover-color);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}
