<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT Clone</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="toggle-left-menu-button" onclick="toggle()">
      <div class="toggle-btn-line01"></div>
      <div class="toggle-btn-line02"></div>
    </div>
    <div class="left-menu-container">
      <button class="new-chat-btn">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/768px-ChatGPT_logo.svg.png"
          alt="Profile imgage"
          class="profile-img"
        /><a class="profile-name">New chat</a>
      </button>

      <div class="left-menu-options">
        <a class="chat-a">Today</a>
        <div class="chat-btn-container">
          <button class="chat-btn">
            Chat
            <button class="nested-chat-btn" onclick="toggleNestedMenu(this)">
              ---
            </button>
          </button>

          <div class="nested-btn-menu">
            <a href="#">Delete chat</a>
          </div>
        </div>
      </div>

      <button class="profile-button">
        <img
          src="https://pics.craiyon.com/2023-06-25/840d68a3348b4f00b23af0cfc4ac71d2.webp"
          alt="Profile imgage"
          class="profile-img"
        />
        <a class="profile-name">Username</a>
      </button>
    </div>

    <div class="right-side-container">
      <header></header>
      <div class="conversation-container" id="conversationContainer">
        <div class="conver-user-container">
          <div class="conver-user">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/768px-ChatGPT_logo.svg.png"
              class="conversation-profile-img"
            />
            <div class="conver-username">ChatGPT:</div>
          </div>
          <div class="conver-text">
            <p>How can I help you today?</p>
          </div>
        </div>
      </div>
      <div class="textarea-container">
        <div class="textarea-cont">
          <textarea
            id="resizableTextarea"
            placeholder="Type your message here..."
          ></textarea>
          <button class="conver-submit-btn" onclick="submitForm()">S</button>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
