<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT Clone</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="toggle-left-menu-button" onclick="toggle()">
      <div class="toggle-btn-line01"></div>
      <div class="toggle-btn-line02"></div>
    </div>
    <div class="left-menu-container">
      <button class="new-chat-btn" onclick="NewConversation()">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/768px-ChatGPT_logo.svg.png"
          alt="Profile imgage"
          class="profile-img"
        /><a class="profile-name">New chat</a>
      </button>

      <div class="left-menu-options">
        <!--<a class="chat-a">Today</a>-->
      </div>

      <div class="profile-button" onclick="TogglePopUp()">
        <div class="profile-avatar-letter"><a id="user-first-letter"></a></div>
        <a class="profile-name" id="username"></a>
        <!-- Popup menu with logout option -->
        <div class="popup-menu">
          <a onclick="Logout()">Logout</a>
        </div>
      </div>
    </div>

    <div class="right-side-container">
      <header></header>
      <div class="conversation-container" id="conversationContainer">
        <div class="conver-user-container">
          <div class="conver-user">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/768px-ChatGPT_logo.svg.png"
              class="conversation-profile-img"
            />
            <div class="conver-username">ChatGPT</div>
          </div>
          <div class="conver-text">How can I help you today?</div>
        </div>
      </div>
      <div class="textarea-container">
        <div class="textarea-cont">
          <form onsubmit="submitForm(); return false;">
            <textarea
              class="textarea-cont-textarea"
              id="resizableTextarea"
              placeholder="Type your message here..."
              onkeydown="return handleEnterKey(event)"
            ></textarea>
            <button class="conver-submit-btn" onclick="submitForm()">S</button>
          </form>
        </div>
      </div>
    </div>
    <script src="./login.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
